body {
	width: 600px;
}

.floatleft {
	width: 200px;
	height: 500px;
	float: left;
	background: #4A90E2;
}

.floatcenter {
	width: 200px;
	height: 500px;
	float: left;
	background: #50E3C2;

}


.topright {
	width: 200px;
	height: 350px;
	float: left;
	background: #B8E986;
}

.bottomright {
	width: 200px;
	height: 500px;
	float: left;
	background: #D0021B;

}
